footer {
    min-width: 100%;
    min-height: 430px;
    max-height: 430px;
}

footer .main-footer-container {
    display: flex;
    justify-content: space-between;
    gap: 105px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 390px;
    min-height: 390px;
    min-width: 100%;
    max-width: 100%;
}

footer .main-footer-container .contact-info-region {
    min-height: 290px;
    max-height: 290px;
    max-width: 309px;
    min-width: 309px;
}

footer .main-footer-container .contact-info-region .info {
    display: block;
}

footer .main-footer-container .contact-info-region p {
    text-transform: uppercase;
    color: black;
    line-height: 0px;
    font-size: 24px;
    font-weight: bolder;
    font-family: sans-serif;
}

footer .top-footer-part {
    margin: 0;
    margin-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

footer .bottom-footer-part {
    margin-bottom: 0;
    padding-left: 200px;
    padding-right: 200px;
}

footer .main-footer-container .contact-info-region div {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

footer .main-footer-container .contact-info-region .icons {
    max-width: 75%;
    display: flex;
    margin-top: 55px;
}

footer .main-footer-container .contact-info-region .icons img {
    height: 45px;
    width: auto;
    object-fit: cover;
    transition: .2s;
}

footer .main-footer-container .contact-info-region .icons img:hover {
    opacity: .5;
    cursor: pointer;
}

footer .main-footer-container .information-region {
    min-height: 210px;
    max-height: 210px;
    max-width: 250px;
    min-width: 250px;
}

footer .main-footer-container .information-region p {
    text-transform: uppercase;
    color: black;
    line-height: 0px;
    font-size: 24px;
    font-weight: bolder;
    font-family: sans-serif;
}

footer .main-footer-container .information-region div {
    margin-bottom: 15px;
}

footer .main-footer-container .information-region a,
footer .main-footer-container .information-region div {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .2s;
}

footer .main-footer-container .information-region a:hover {
    cursor: pointer;
    color: #646464;
}

footer .main-footer-container .account-region {
    min-height: 170px;
    max-height: 170px;
    max-width: 230px;
    min-width: 230px;
}

footer .main-footer-container .account-region p {
    text-transform: uppercase;
    color: black;
    line-height: 0px;
    font-size: 24px;
    font-weight: bolder;
    font-family: sans-serif;
}

footer .main-footer-container .account-region div {
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .2s;
}

footer .main-footer-container .account-region a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .2s;
}

footer .main-footer-container .account-region a:hover {
    cursor: pointer;
    color: #646464;
}

footer .main-footer-container .newsletter-region {
    min-height: 240px;
    max-height: 240px;
    max-width: 414px;
    min-width: 414px;
}

footer .main-footer-container .newsletter-region p {
    text-transform: uppercase;
    color: black;
    line-height: 0px;
    font-size: 24px;
    font-weight: bolder;
    font-family: sans-serif;
}

footer .main-footer-container .newsletter-region span {
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
}

footer .main-footer-container .newsletter-region input[type=email] {
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    background: linear-gradient(#000, #000) center bottom 5px /calc(100%) 1.5px no-repeat;
    border: 1px solid;
    padding-left: 0;
    padding-bottom: 15px;
    color: white;
    height: 26px;
    width: 414px;
    border: none;
    border-radius: 7px;
    margin-bottom: 25px;
}

footer .main-footer-container .newsletter-region button {
    width: 196px;
    height: 35px;
    border: none;
    border-radius: 36px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bolder;
    font-family: sans-serif;
    transition: .2s;
}

footer .main-footer-container .newsletter-region button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;
    min-height: 40px;
    min-width: 100%;
    max-width: 100%;
    color: #646464;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20px;
}

footer .footer-bottom .paying-systems {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

footer hr {
    width: 100vw;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin-top: -15px;
}

footer .footer-bottom .paying-systems img {
    border-radius: 5px;
    height: 30px;
    width: auto;
    object-fit: cover;
}

#close-cont-popup,
#close-about-popup,
#close-deliv-popup {
    margin-top: 10px;
    background-color: black;
    min-width: 120px;
    max-width: 120px;
    min-height: 37px;
    max-height: 37px;
    font-size: 18px;
    letter-spacing: 1.5px;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    transition: .2s;
}

#close-cont-popup:hover,
#close-about-popup:hover,
#close-deliv-popup:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.contacts-popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
    z-index: -1;
    opacity: 0;
}

.contacts-popup.open {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

.contacts-popup .inner {
    background-color: #CA9960;
    color: white;
    min-width: 320px;
    max-width: 320px;
    min-height: 240px;
    max-height: 240px;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.contacts-popup .inner .middle {
    display: flex;
    justify-content: space-between;
}

.contacts-popup .inner .middle .left-block p {
    line-height: 24px;
    font-size: 17px;
    font-weight: bolder;
    margin: 10px 0;
    margin-top: 15px;
    text-align: start;
}

.contacts-popup .inner .middle .right-block p {
    line-height: 24px;
    font-size: 17px;
    margin: 10px 0;
    margin-top: 15px;
    text-align: end;
}

.contacts-popup .inner h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}

.about-popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
    z-index: -1;
    opacity: 0;
}

.about-popup.open {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

.about-popup .inner {
    background-color: #CA9960;
    color: white;
    min-width: 370px;
    max-width: 370px;
    min-height: 220px;
    max-height: 220px;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.about-popup .inner .middle p {
    line-height: 24px;
    font-size: 19px;
    font-family: sans-serif;
    margin: 10px 0;
    margin-top: 15px;
    text-align: middle;
}

.about-popup .inner h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}

.delivery-popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s;
    z-index: -1;
    opacity: 0;
}

.delivery-popup.open {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}

.delivery-popup .inner {
    background-color: #CA9960;
    color: white;
    min-width: 370px;
    max-width: 370px;
    min-height: 220px;
    max-height: 220px;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.delivery-popup .inner {
    background-color: #CA9960;
    color: white;
    min-width: 370px;
    max-width: 370px;
    min-height: 220px;
    max-height: 220px;
    border-radius: 15px;
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.delivery-popup .inner .middle p {
    line-height: 24px;
    font-size: 19px;
    font-family: sans-serif;
    margin: 10px 0;
    margin-top: 15px;
    text-align: middle;
}

.delivery-popup .inner h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}