.main-info-wrapper {
    margin: 0;
}

.main-info-region {
    margin-top: 70px;
    min-height: 800px;
}

.main-info-region .top-text {
    font-size: 30px;
    color: black;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.main-info-region .products-display {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
}

.main-info-region .products-display .prod-page {
    min-width: 346px;
    max-width: 346px;
    min-height: 476px;
    max-height: 476px;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.24);
    -moz-box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.24);
    box-shadow: 8px 8px 8px 0px rgba(34, 60, 80, 0.24);
    transition: .3s ease-in-out;
}

.main-info-region .products-display .prod-page:hover {
    transform: scale(1.05);
}

.prod-page .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    max-width: auto;
    max-height: 350px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.prod-page .image img {
    object-fit: cover;
    max-height: 250px;
    min-height: 250px;
}

.prod-page .info p {
    line-height: 0;
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: bolder;
    text-transform: uppercase;
}

.prod-page .info .outer {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.prod-page .info .outer img {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 46px;
    max-height: 46px;
    border-radius: 50%;
    border: 2px solid #CA9960;
    transition: .5s;
}

.prod-page .info .outer img:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.prod-page .info .outer #price {
    text-align: end;
    font-size: 17px;
    letter-spacing: .5px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 900;
}

.prod-page .info .outer #calories {
    text-align: end;
    font-size: 20px;
    letter-spacing: .5px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    color: #646464;
}

.prod-page .info .outer .right {
    display: flex;
    flex-direction: column;
}